body::-webkit-scrollbar {
    display: none;
}

.windowBar {
    -webkit-app-region: drag;
    height: 25px;
    background-color: #0F0F0F;
    position: fixed;
    top: 0;
    width: 100%;
}

.topBar {
    height:75px; 
    margin-top: 25px;
    position: fixed;
    width: 100%;
    background-color: #1c1c1c;
}

.content {
    padding-top: 100px;
    position: relative;
}

.noDragContainer {
    -webkit-app-region: no-drag;
}